<ion-tabs class="tabs-icon-bottom tabs-color-active-positive" keyboard-handler>

  <!-- Dashboard Tab -->
  <ion-tab title="Game" icon-off="ion-beer" icon-on="ion-beer" href="#/game">
    <ion-nav-view name="shots-game"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Ranking" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/ranking">
    <ion-nav-view name="shots-ranking"></ion-nav-view>
  </ion-tab>


</ion-tabs>
