<ion-view view-title="Game">
  <ion-content padding="true">
      <input  typeahead-template-url="templates/autocomplete.html"
              typeahead-on-select="addUserToGame($item, $model, $label)"
              type="text"
              ng-model="search.selected"
              typeahead="user for user in usersList | filter:$viewValue | limitTo:3"
              placeholder="Search user to drink with"
              ng-disabled="game.players.length === 6"
              class="search-user" />

      <div class="table-with-shots">
          <img src="img/chair.png" class="chair chair-1" ng-click="unseatPlayer(0)" />
          <img src="img/chair.png" class="chair chair-2" ng-click="unseatPlayer(1)" />
          <img src="img/chair.png" class="chair chair-3" ng-click="unseatPlayer(2)" />
          <img src="img/chair.png" class="chair chair-4" ng-click="unseatPlayer(3)" />
          <img src="img/chair.png" class="chair chair-5" ng-click="unseatPlayer(4)" />
          <img src="img/chair.png" class="chair chair-6" ng-click="unseatPlayer(5)" />

          <div ng-repeat="player in game.players track by $index">
              <span class="player-name player-{{ $index }}">{{ player }}</span>
          </div>

          <img src="img/shot.png" class="shot" ng-click="saveRound()" />
          <div ng-if="game.saved" class="game-saved-message">Game saved!</div>
      </div>

  </ion-content>
</ion-view>
