<ion-view view-title="Ranking">
  <ion-content padding="true">
    <div class="sync-button">
        <div class="button-bar">
            <a class="button button-royal" ng-click="syncRanking()">Sync stats</a>
            <a class="button button-assertive" ng-click="reset()">Reset</a>
        </div>
    </div>
    <div class="user-list">
      <a class="item" href="#" ng-repeat="user in resultList">
        {{ user.username }}
        <span class="badge badge-balanced">{{ user.amount }}</span>
      </a>
    </div>
  </ion-content>
</ion-view>
