<ion-view view-title="Shots on tour!">
    <ion-content>
        <div class="app-logo">
            <img src="../img/shot_glass.jpg" alt="Logo"/>
        </div>
        <div class="info-block">
            <span>Type your name to be able to register how many shots you and your teammates are able to drink!</span>
        </div>
        <div class="login-form">
            <input  typeahead-template-url="templates/autocomplete.html"
                    typeahead-on-select="signIn($item)"
                    type="text"
                    ng-model="user.username"
                    typeahead="user for user in userList | filter:$viewValue | limitTo:3"
                    placeholder="Type here your name :)"
                    class="search-user" />
            <div class="errors">
                <span>{{ error }}</span>
            </div>
        </div>
        <div class="about">
            <span>Powered by</span>
            <img src="../img/pse_logo.jpg" alt="PSE logo"/>
        </div>
    </ion-content>
</ion-view>