.search-user {
    line-height: 30px !important;
    height: 50px !important;;
    font-size: 20px !important;;
    width: 100% !important;;
    border-bottom: solid 1px #ccc !important;
}

.dropdown-menu {
    z-index: 99;
}

.dropdown-menu li.active {
    background-color: #886AEA;
}

.autocomplete-item {
    overflow-x: hidden;
    font-size: 22px;
    line-height: 30px;
    padding: 5px;
}

.table-with-shots {
    text-align: center;
    width: 100%;
    top: 160px;
    left: 0;
    position: absolute;
}

.shot {
    width: 100px;
    height: 100px;
}

.login-form {
    position: relative;
    top: 40px;
}
.app-logo {
    text-align: center;
}
.app-logo img {
    position: relative;
    margin-top: 20px;
    width: 360px;
}

.about {
    position: relative;
    margin-top: 60px;
    font-size: 16px;
    text-align: center;
}

.about img {
    width: 20%;
    position: relative;
    margin-left: 10px;
    top: 20px;
}

.info-block {
    position: relative;
    text-align: center;
    top: 40px;
    font-size: 16px;
    height: 50px;
    border: solid 1px #b9a5f0;
    background-color: #b9a5f0;
}

.errors {
    color: red;
}

.chair {
    position: absolute;
    width: 40px;
    height: 40px;
}

.player-name {
    display: inline-block;
    width: 100px;
    position: absolute;
    white-space: nowrap;
}

.player-0 {
    top: 45px;
    left: 20px;
}

.player-1 {
    top: 135px;
    left: 30px;
}

.player-2 {
    top: 225px;
    left: 80px;
}

.player-3 {
    top: 45px;
    right: 40px;
}

.player-4 {
    top: 135px;
    right: 50px;
}

.player-5 {
    top: 225px;
    right: 100px;
}

.chair:nth-child(1) {
    top: 0;
    left: 20px;
}
.chair:nth-child(2) {
    top: 90px;
    left: 70px;
}

.chair:nth-child(3) {
    top: 180px;
    left: 120px;
}

.chair:nth-child(4) {
    top: 0;
    right: 20px;

}

.chair:nth-child(5) {
    top: 90px;
    right: 70px;
}

.chair:nth-child(6) {
    top: 180px;
    right: 120px;
}

.chair:nth-child(4), .chair:nth-child(5), .chair:nth-child(6) {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.game-saved-message {
    background-color: #5CB85C;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
}